.locationCont {
    width: 100%;
    text-align: left;
    color: #888;
}
.locationCont h1 {
    margin: 0;
}

.weatherLocationCont {
    width: 400px;
    padding: 25px;
    font-family: 'Roboto', 'sans-serif';
    box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.7);
}