.weatherDataCont {
    background-color: rgba(56, 56, 56, 0.2);
    width: 400px;
    border-radius: 5px;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
}

.weatherExtraInfoContainer {
    width: 40%;
    line-height: 28px;
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.weatherTemperatureContainer {
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.weathIcon {
    color: orange;
}

.temperature {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: #333;
}

.temperatureType {
    font-weight: bold;
    color: #666;
}

.extraInfoText {
    display: block;
    color: #1535C5;
    font-size: 16px;
    font-weight: bold;
}